footer {
  border-top: 1px solid #EEE;
  color: #CCC;
  padding: 21px 9px;
  text-align: center;
}
header {
  border-bottom: 1px solid #EEE;
  padding: 21px 9px;
}

header form {
  margin-top: 5px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

main header {
  border-bottom: 0;
}

td h5 {
  color: #CCC;
}

.bid-form {
  margin: 21px 0px;
}
